[project]
	description = Git Repo for 4Oct
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cloudlearning9
[access "refs/for/refs/*"]
	read = group user/cloudlearning9
	push = group user/cloudlearning9
	label-Code-Review = -2..+2 group user/cloudlearning9
	label-Verified = -1..+1 group user/cloudlearning9
	rebase = group user/cloudlearning9
	removeReviewer = group user/cloudlearning9
	submit = group user/cloudlearning9
[access "refs/heads/*"]
	read = group user/cloudlearning9
	create = group user/cloudlearning9
	push = +force group user/cloudlearning9
	pushMerge = group user/cloudlearning9
[access "refs/tags/*"]
	push = group user/cloudlearning9
	push = +force group user/cloudlearning9
